<!--
Team KOCY - William Yin, Liam Kronman, Jason Chan, Stella Oh
SoftDev
P0: Da Art of Storytellin' (Pt.2)
2021-01-05
-->


<!DOCTYPE html>
<!--
     simple demo of HTML forms via Flask
-->

<html>

  <head>
    <title> EDIT POST </title>
  </head>

  <body>
    <h1>
      Edit your most recent post!
    </h1>

    <form action="/own" method="get">
        <input type="submit" value="Go Back">
    </form><br>
    <form action="/addentry" method="get">
        <textarea id="addEntry" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>

  </body>

</html>
